h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
}

p,
a,
ul,
ol,
mark,
strong,
em,
span,
b,
i {
  font-size: 1.25rem;
}

small {
  font-size: 1rem;
}

label,
button {
  margin-top: 10px;
}

label,
input {
  width: 80%;
}

label,
input,
.products-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p::first-letter {
  text-transform: uppercase;
}

/* ct-tvs 2 */
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
#primary-list,
.header .nav,
.products-form-buttons {
  text-align: center;
}

#primary-list {
  list-style: none;
}

.banner {
  height: 300px;
  width: 300px;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-formas-geometricas-triangulo-abstrato_1035-23057.jpg");
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

/* all 1 */
main,
.header,
.footer {
  padding: 20px;
}

/* all 2 */
input {
  border: 1px solid #3d3b3b;
  border-radius: 5px;
}

/* all 3 */
a {
  transition: opacity 0.8s ease;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* all 4 */
img {
  display: block;
  margin: auto;
}

img:hover {
  transform: scale(1.2);
}

h2,
.products-list figcaption {
  z-index: 2;
  position: relative;
}

/* ct-tvs 6 */
#products-title {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateX(20deg);
  }

  50% {
    transform: rotateY(20deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

/* ct-tvs 7 */
.intro h1 {
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(20%, 20%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: darkkhaki;
}

.header .nav li {
  display: inline-block;
  margin-right: 10px;
}

body {
  margin: 0;
}

.footer {
  background-color: #607D8B;
}

/* ct-tvs 3 */
.products-form-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.products-form-buttons button {
  flex-basis: 80%;
}

/* ct-tvs 4 */
.col {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
  margin-bottom: 10px;
}

@media print {

  .header,
  .footer {
    display: none;
  }
}

/* ct-tvs 5 */
@media (min-width: 768px) {

  .col,
  .products-form-buttons {
    flex-direction: row;
  }

  .products-form {
    max-width: 500px;
  }
}
