h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p::first-letter {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
}

#primary-list {
  list-style: none;
}
