h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
}

p,
a,
ul,
ol,
mark,
strong,
em,
span,
b,
i {
  font-size: 1.25rem;
}

small {
  font-size: 1rem;
}

.col {
  width: 49%;
  display: inline-block;
}

label,
button {
  text-align: center;
  margin-top: 10px;
}

label,
input {
  width: 80%;

}

label,
input,
.products-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.products-form {
  max-width: 330px;
}

p::first-letter {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

#primary-list {
  list-style: none;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.banner {
  height: 300px;
  width: 300px;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-formas-geometricas-triangulo-abstrato_1035-23057.jpg");
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

a:hover {
  opacity: 0.5;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px;
  background-color: darkkhaki;
  width: 100%;
}

.header .nav {
  text-align: center;
}

.header .nav li {
  display: inline-block;
  margin-right: 10px;
}

body {
  margin: 0;
}

main {
  padding: 20px;
}

.footer {
  padding: 20px;
  background-color: #607D8B;
}

/* all 1 */
@media print {
  .header,
  .footer {
    display: none;
  }
}
