/* 4 */
h1 {
  font-size: 30px;
  text-transform: uppercase;
}

/* 5 */
p::first-letter {
  text-transform: uppercase;
}

/* 6 */
a:hover {
  text-decoration: none;
}

/* 7 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* ct 3 e 4*/
#primary-list {
  list-style: none;
  text-align: center;
}

/* ct 4 */
img {
  display: block;
  margin: auto;
  max-width: 150px;
}

/* pd 1 */
.banner {
  height: 300px;
  width: 300px;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-formas-geometricas-triangulo-abstrato_1035-23057.jpg");
  background-repeat: no-repeat;
}

/* pd 2 */
.hide {
  display: none;
}

/* pd 3 */
.nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

/* all 1 */
body {
  padding: 20px;
  margin: 20px;
}

/* all 2 */
a:hover {
  opacity: 0.5;
}
